<!DOCTYPE html>
<html lang="en">
    {{- $avatarImgSrc := .Site.Params.AvatarURL -}}
    {{- if and (isset .Site.Params "avatarURL") (not (hasPrefix $avatarImgSrc "http")) -}}
        {{- $avatarImgSrc = (urls.JoinPath $.Site.BaseURL ($.Site.Params.AvatarURL | default "")) -}}
    {{- end -}}
    {{- .Scratch.Set "avatarImgSrc" $avatarImgSrc -}}

    {{- partial "head.html" . -}}
    <body>
        <script>
            // Immediately set theme on page load
            setThemeByUserPref();
        </script>
        {{- partial "header.html" . -}}
        <main id="content">
        {{ if .Params.content_width }}
        <style>
            main#content {
                width: {{ .Params.content_width }}% !important;
                max-width: 100% !important;
            }
            main#content > .container {
                width: 100% !important;
                max-width: 100% !important;
            }
        </style>
        {{ end }}
        {{- block "main" . }}{{- end }}
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
